<button type="button" class="btn btn-warning" (click)="Click('VPower')">VPower</button>
    <button type="button" class="btn btn-success"(click)="Click('Super')">Super</button>
    <button type="button" class="btn btn-danger" (click)="Click('Nitro')">Nitro</button>
    <button type="button" class="btn btn-secondary" (click)="Click('Pertalite')">Pertalite</button>
    <button type="button" class="btn btn-primary" (click)="Click('Premium')">Premium</button>

    <h3>Mau beli bensin apa? {{jenisBensin}}</h3>
    <h3>Harga bensin: {{hargaBensin}}</h3>

    <form [formGroup]="bensinForm">
        <div class="form-group">
            <label for="exampleInputEmail1">Jumlah Liter</label>
            <input type="email" formControlName="jumLiter" class="form-control" [(ngModel)]="Hargaliter" name="Hargaliter">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword">Jumlah Bayar</label>
            <input type="password" formControlName="jumBayar" class="form-control" [(ngModel)]="Hargabayar" name="Hargabayar">
        </div>

    </form>

    <button type="button" class="btn btn-dark" (click)="count()">Hitung</button>
    <h3>Total yang dibayar : <b>{{ total_bayar }}</b></h3>
    <h3>Total kembali : <b>{{ kembalian }}</b></h3>