<!-- Page Wrapper -->
<div id="wrapper">
  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">
    <!-- Main Content -->
    <div id="content">
      <div class="row">
        <div class="col-md-2">
          <app-sidebar></app-sidebar>
        </div>
        <div class="col-md-10">
          <app-navbar
            style="position: fixed; z-index: 10"
            class="col-md-10"
          ></app-navbar>

          <!-- Begin Page Content -->
          <div class="container-fluid" style="margin-top: 10vh">
            <!-- Page Heading -->
            <h1 class="h3 mb-2 text-gray-800">Tables</h1>
            <p class="mb-4">
              All Data
              <!-- <a target="_blank" href="https://datatables.net"
                    >official DataTables documentation</a
                  >. -->
            </p>

            <!-- DataTales Example -->
            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">
                  Add
                  <br />
                </h6>
                <button
                  type="button"
                  class="btn btn-primary"
                  (click)="openModal(addCategoryModal)"
                >
                  <i class="bi bi-plus-lg"
                    >>
                    <i class="bi bi-plus-lg"></i>
                    Add new Category
                  </i>
                </button>
              </div>
              <ng-template #addCategoryModal>
                <div class="modal-header">
                  <h4 class="modal-title pull-left">Add Category</h4>
                  <button
                    type="button"
                    class="btn-close close pull-right"
                    aria-label="Close"
                    (click)="modalRef.hide()"
                  >
                    <span aria-hidden="true" class="visually-hidden"
                      >&times;</span
                    >
                  </button>
                </div>
                <div class="modal-body">
                  <form [formGroup]="addForm" (ngSubmit)="doAddCategory()">
                    <div class="form-group">
                      <label for="exampleFormControlInput1">Jenis Sampah</label>
                      <input
                      formControllName="jenis_sampah"
                        type="text"
                        class="form-control"
                        id="exampleFormControlInput1"
                        placeholder="Input Jenis Sampah Lainnya"
                      />
                    </div>
                    <div class="form-group">
                      <label for="exampleFormControlTextarea1">Upload Image</label>
                      <input
                      formControllName="image"
                        type="text"
                        class="form-control"
                        id="exampleFormControlInput1"
                        placeholder="Input Jenis Sampah"
                      />
                    </div>
                  </form>
                  <button
                    style="float: right"
                    type="submit"
                    class="btn btn-warning"
                  >
                    Save
                  </button>
                </div>
              </ng-template>
              <div class="card-body">
                <div class="table-responsive">
                  <table
                    class="table table-bordered"
                    id="dataTable"
                    width="100%"
                    cellspacing="0"
                  >
                    <thead>
                      <tr>
                        <th>Id Kategori Sampah</th>
                        <th>Jenis Sampah</th>
                        <th>Image</th>
                      </tr>
                    </thead>
                    <tbody>
                      <ng-container *ngFor="let cat of categoryList">
                        <tr>
                          <td>{{ cat.id_kategori_sampah }}</td>
                          <td>{{ cat.jenis_sampah }}</td>
                          <td>{{ cat.image }}</td>
                        </tr>
                      </ng-container>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <div
      class="modal fade"
      id="logoutModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button
              class="close"
              type="button"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            Select "Logout" below if you are ready to end your current session.
          </div>
          <div class="modal-footer">
            <button
              class="btn btn-secondary"
              type="button"
              data-dismiss="modal"
            >
              Cancel
            </button>
            <a class="btn btn-primary" href="login.html">Logout</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
