<section class="vh-100 bg-image"
  style="background-image: url('https://1.bp.blogspot.com/--5xsZ4QErZA/XvC7ileHxFI/AAAAAAAAGLA/zr8v2E2Ib6UdI65eSl5BGAWsUhtmu41XwCK4BGAsYHg/s1920/biru-dongker-cat-air.jpg');">
  <div class="mask d-flex align-items-center h-100">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Register</h2>

              <form [formGroup]="formRegister" (ngSubmit)="doRegister()">

                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example1cg">Fullname</label>
                  <input type="text" formControlName="fullname" id="form3Example1cg"
                    class="form-control form-control-lg" />
                  <ng-container
                    *ngIf="(errorControl['fullname'].dirty || errorControl['fullname'].touched) && errorControl['fullname'].errors">
                    <div *ngIf="errorControl['fullname'].errors['required']" class="text-danger">Please enter your
                      fullname.</div>
                  </ng-container>
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example1cg">Username</label>
                  <input type="text" formControlName="username" id="form3Example1cg"
                    class="form-control form-control-lg" />

                  <ng-container
                    *ngIf="(errorControl['username'].dirty || errorControl['username'].touched) && errorControl['username'].errors">
                    <div *ngIf="errorControl['username'].errors['required']" class="text-danger">Please enter your
                      username.</div>
                  </ng-container>
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example4cg">Password</label>
                  <input type="password" formControlName="password" id="form3Example4cg"
                    class="form-control form-control-lg" />

                  <ng-container
                    *ngIf="(errorControl['password'].dirty || errorControl['password'].touched) && errorControl['password'].errors">
                    <div *ngIf="errorControl['password'].errors['required']" class="text-danger">Please enter your
                      password.</div>
                  </ng-container>
                </div>

                <div class="form-outline mb-4">
                  <label>Password Confirmation</label>
                  <input type="password" class="form-control" placeholder="" formControlName="c_password"
                    name="c_password">
                  <ng-container *ngIf="(!confirmPassword)">
                    <div>Password Different</div>
                  </ng-container>
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example3cg">Tanggal Lahir</label>
                  <input type="DATE" formControlName="tanggal_lahir" id="form3Example3cg"
                    class="form-control form-control-lg" />

                  <ng-container
                    *ngIf="(errorControl['tanggal_lahir'].dirty || errorControl['tanggal_lahir'].touched) && errorControl['tanggal_lahir'].errors">
                    <div *ngIf="errorControl['tanggal_lahir'].errors['required']" class="text-danger">Please enter your
                      Tanggal Lahir.</div>
                  </ng-container>

                </div>
                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example3cg">Your Email</label>
                  <input type="email" formControlName="email" id="form3Example3cg"
                    class="form-control form-control-lg" />
                  <ng-container
                    *ngIf="(errorControl['email'].dirty || errorControl['email'].touched) && errorControl['email'].errors">
                    <div *ngIf="errorControl['email'].errors['required']" class="text-danger">Please enter your Email.
                    </div>
                  </ng-container>
                </div>

                <div class="form-check d-flex justify-content-center mb-5">
                  <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3cg" />
                  <label class="form-check-label" for="form2Example3g">
                    I agree all statements in <a href="#!" class="text-body"><u>Terms of service</u></a>
                  </label>
                </div>

                <div class="d-flex justify-content-center">
                  <button (click)="doRegister()" type="button"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Register</button>
                </div>

                <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="#!"
                    class="fw-bold text-body"><u>Login here</u></a></p>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>