<!-- Sidebar -->
<aside class="sidebar">
    <ul class="navbar-nav bg-gradient-danger sidebar sidebar-dark accordion" style="margin-top: 10px;" id="accordionSidebar">
    
        <!-- Sidebar - Brand -->
        <!-- <a class="sidebar-brand d-flex align-items-center justify-content-center" [routerLink]="['/admin/category/profile']">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">Profile</div>
        </a> -->
    
        <!-- Divider -->
        <hr class="sidebar-divider my-0">
    
        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/admin/dashboard']">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span></a>
        </li>
    
        <!-- Divider -->
        <hr class="sidebar-divider">
    
        <!-- Heading -->
        <div class="sidebar-heading">
            Menu
        </div>
    
        <!-- Nav Item -->
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/admin/category/list-users']">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>List User</span></a>
        </li>
    
        <!-- Nav Item - Tables -->
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/admin/list-category-sampah']">
                <i class="fas fa-fw fa-table"></i>
                <span>List Category Sampah</span></a>
        </li>
    
        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">
    
        <!-- Sidebar Toggler (Sidebar)
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div> -->
    
    </ul>
    </aside>
    <!-- End of Sidebar -->
    